<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<title>Two Way Data Binding</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="my-script.js"></script>
</head>
<body>
	<div ng-controller="myController">
		Type to see the change..<br/><br/>
		<table>
			<tr>
				Firstname: 
				<input type="text" ng-model="employee.firstname"></input>
			</tr>
			<tr>
				Lastname:
				<input type="text" ng-model="employee.lastname"></input>
			</tr>
			<tr>
				Gender:
				<input type="text" ng-model="employee.gender"></input>
			</tr>
		</table>
		<br/><br/>

		Model Status:<br/>
		employee.firstname = {{employee.firstname}}<br/>
		employee.lastname = {{employee.lastname}}<br/>
		employee.gender = {{employee.gender}}

	</div>
</body>
</html>